/*Barbie*/

.theme-barbie h1 {
  color: #F04E8A;
}

.theme-barbie a, .theme-barbie .link {
  color: #F04E8A;
}

.theme-barbie .tag{
  background: #F04E8A;
  color: white;

}
.theme-barbie .tag:hover{
  background: #B82164;
}

@media screen and (min-width: 735px) {
  .theme-barbie a.nav-title {
    color: #F04E8A;
    font-family: 'Bartex Regular';
    font-size: 30px; /* Adjust the font size as needed */
  }
}

.theme-barbie a.nav-title {
  color: #F04E8A;
  font-family: 'Bartex Regular';
 }

.theme-barbie a.nav-item-content:hover{
  color: #F04E8A
}

.theme-barbie {
  --footer-background: #F04E8A;
  --footer-border-color: #424245;
  --footer-text-color: #FFF;
  --footer-link-color: #FFF;
  --footer-pipe-color: #FFF;
  --footer-directory-title-color: #f5f5f7;
  --footer-directory-title-color-hover: #fff;
}

.theme-barbie h1 {
  color: #F04E8A;
  
}
.theme-barbie .tag{
  background: #F04E8A;

}
.theme-barbie .tag:hover{
  background: #B82164;
}

@media screen and (min-width: 735px) {
  .theme-barbie a.nav-title {
    color: #F04E8A;
    font-family: 'Bartex Regular';
    font-size: 30px; /* Adjust the font size as needed */
  }
}

/*Setembro Amarelo*/

.theme-amarelo h1 {
  color: #1d1d1f;
}

.theme-amarelo .tag{
  background: #fcb628;

}
.theme-amarelo .tag:hover{
  background: #fcb628;
}

.theme-amarelo a.nav-title {
  color: #fcb628;
 }

.theme-amarelo a.nav-item-content:hover{
  color: #fcb628
}

.theme-amarelo {
  --footer-background: #202020;
  --footer-border-color: #424245;
  --footer-text-color: #fcb628;
  --footer-link-color: #202020;
  --footer-pipe-color: #ffffff;
  --footer-directory-title-color: #fcb628;
  --footer-directory-title-color-hover: #fcb628;
}

.theme-amarelo h1 {
  color: #fcb628;
}
.theme-amarelo .tag{
  background: #fcb628;

}
.theme-amarelo .tag:hover{
  background: #fcb628;
}

.theme-amarelo .nav-wrapper{
  background: #1d1d1f;
}

.theme-amarelo .nav-item-content{
  color: #FFF;
}

.theme-amarelo a, .theme-amarelo .link {
  color: #fcb628;
}

.theme-amarelo .tag{
  background: #fcb628;
  color: white;

}