{{ define "main" }}
<div class="results">
    <div class="results__content">

        {{ range (.Paginate (.Pages.GroupByDate "2006-01")).PageGroups }}
        <div class="result" role="group">

        <!-- add day manually to parse as date-->
        {{ $month := printf "%s%s" .Key "-01"}}
        {{ $monthTranslations := dict
            "January"   "Janeiro"
            "February"  "Fevereiro"
            "March"     "Março"
            "April"     "Abril"
            "May"       "Maio"
            "June"      "Junho"
            "July"      "Julho"
            "August"    "Agosto"
            "September" "Setembro"
            "October"   "Outubro"
            "November"  "Novembro"
            "December"  "Dezembro"
        }}
        
        {{ $month := $monthTranslations (.context.Date.Format "January") }}
        
        <h2 class="result__title">Edição de {{ $month }} de {{ .context.Date.Year }}</h2>
                    {{ range .Pages }}

            {{ partial "archiveItem.html" (dict "context" .) }}

            {{ end }}

        </div>
        {{ end }}
    </div>
</div>

{{ partial "pagination.html" . }}


{{ end }}


